@import url(styles/header.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --amarelo: #fecd2f;
    --roxo: #c75eeb;
    --preto:#000000;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: pink;

}
