.cabecalho{
  font-family: var(--fonte-principal);
  display: flex;
  justify-content: space-between;
  background-color: var(--branco);
  align-items: center;
  position: relative;

}

.cabecalho__menu{
  display: inline-block;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.conteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conteiner__imagem{
  padding: 1em;
}
.lista__menu{
  display: none;
  background-color: var(--branco);
  position: absolute;
  top:100%;
  width: 60vw;
}

.conteiner__botao{
display: none;
}

.lista__menu-titulo{
  font-weight: 700;
  color: var(--amarelo);
}
.lista__menu-item{
  padding: 1em;
}
.lista__menu-link{
color: var(--roxo);
font-weight: 500;
text-decoration: none;
text-transform: uppercase;
 
}

.conteiner__botao:checked~.lista__menu{
  display: block;
}

.conteiner__titulo{
  display: none;
}

.opcoes{
  display:none;
}

@media screen and (min-width:1024px) {
 
  .cabecalho__menu{
      display: none;
  }
  .conteiner__favorito{
      display: none;
  }
  .conteiner__titulo{
      display: block;
      font-family: var(--fonte-secundaria);
      font-weight: 400;
      font-size: 30px;
  }
  .conteiner__titulo--negrito{
      font-weight:700;
  }
  .opcoes{
      display:flex;
  }
  .opcoes__item{
      padding: 0 1em;
      text-transform: uppercase;

  }
  .opcoes__link{
      text-decoration: none;
      color: var(--preto);
  }

  .opcoes__botao:checked~.lista__menu{
  display: block;
  width: auto;
}

.opcoes__menu{
  display: none;

}